services:
  flask-app:
    build: .
    environment:
      DATABASE_URL: sqlite:////data/pyquest.db
      FLASK_ENV: development
    volumes:
      - ./instance:/data   # persist sqlite db on host for dev
    ports:
      - "5000:5000"
    command: ["flask", "run", "--host=0.0.0.0"]

  nginx-app:
    image: nginx
    ports:
      - 5555:5001
    depends_on:
      - flask-app
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
