[tool.black]
line-length = 120
target-version = ['py313']

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503"]

[tool.pylint.format]
max-line-length = 120

[tool.ruff]
line-length = 120

[tool.autopep8]
max_line_length = 120

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = "-v"
