<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.greet_user') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.get_user_profile', player_id=current_user.id) }}">Profile</a></li>
                <li><a href="{{ url_for('main.get_history', player_id=current_user.id) }}">History</a></li>
            {% else %}
                <li><a href="{{ url_for('main.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>