<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('greet_user') }}">Home</a></li>
            <li><a href="{{ url_for('get_user_profile') }}">Profile</a></li>
            <li><a href="{{ url_for('get_tile', user_id=current_user.id) }}">Play</a></li>
            <li><a href="{{ url_for('get_history') }}">History</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>