<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyQuest Game</title>
</head>
<body>
    <h1>PyQuest Game</h1>
    <h2>Tile # {{form.tileid}}</h2>
    <form action="/player/{{player_char.id}}/game/tile/next" method="post">
        {{ form.csrf_token }}
        <div>{{ form.type.label }}: {{ form.type }}</div>
        <div>{{ form.content.label }}: {{ form.content }}</div>
        <div>{{ form.action.label }}: {{ form.action }}</div>
        <button formaction="/player/{{player_char.id}}/game/tile/{{form.tileid}}/action">Take Action</button>
        
        <input type="submit" value="Proceed to Next Tile" {% if form.action.data == 'fight' %}disabled{% endif %}>
    </form>

</body>
</html>