<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyQuest Game</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>PyQuest Game</h1>
    <h2>Character setup</h2>
    <div>Welcome {{player_char}}, lets get to know you...</div>

    {% from "_formhelpers.html" import render_field %} 
    <form method=post action="/newplayer">
        <dl>
            {{render_field(form.name)}}
            {{render_field(form.charclass)}}
            {{render_field(form.race)}}
        </dl>
        <p><input type=submit value="Setup"></p>
        {% if error %}
        <p class="error"><strong>Error:</strong>{{ error}}</p>
        {% endif %}
    </form>
</body>
</html>