<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyQuest Game</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>PyQuest Game</h1>
    <h2>Tile # {{player_char.current_tile}}</h2>
    <form action="/player/{{player_char.id}}/game/tile/next" method="post">
        {{ form.csrf_token }}
        <div>{{ form.type.label }}: {{ form.type }}</div>
        <div>{{ form.tilecontent.label }}: {{ form.tilecontent }}</div>
        <div>{{ form.tileaction.label }}: {{ form.tileaction }}</div>
        <button formaction="/player/{{player_char.id}}/game/tile/1/action/1">Take Action</button>
        <input type="submit" value="Proceed to Next Tile">
    </form>

</body>
</html>